@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
    margin: 0;
    padding: 0;
}
header {
    position: absolute;
    height: 110px;
    width: 100%;
    background: #f4f4f4;
    border-bottom: 6px solid #d48983;
}
header img {
    margin: 10px 0 0 15px   
}
h1 {
    display: inline-block;
    margin-right: 5px;
    color: #302725;
    font-family: sans-serif;
    font-size: .9em;
    position: absolute;;
    width: 300px;
    text-align: right;
    font-weight: 100;
    right: 15px;    
}
#map {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 116px;
    bottom: 0;
}    
.leaflet-control-layers {
    font-family: "Ubuntu";
    padding: 6px 8px;
    color: #f4f4f4;
    background: #302725;
    box-shadow: none;
    border-radius: 3px;
    width: 260px;
}
.leaflet-control-layers label {
    padding-left: 26px;
    text-indent: -16px;
    line-height: 1.2em;
    margin-bottom: 6px;
    cursor: pointer;
}
.leaflet-control-layers label:hover {
/*            something cool here?*/
}
.leaflet-control-layers input {
    margin: 0 9px 0 -8px;
    cursor: pointer;
}
.leaflet-container {
    font-size: 14px;
}
.info {
    font-family: "Ubuntu";
    padding: 6px 8px;
    font-size: 1em;
    color: #f4f4f4;
    background: #302725;
    border-radius: 3px;
    max-width: 260px;
    position: absolute;
    z-index: 200;
    word-wrap: break-word;
}
.info h3 {
    font-size: 1em;
    font-weight: 400; 
    line-height: 1.2em;
    margin: 4px 0 10px;
    padding: 0;
}
.info ul {
    padding-left: 0;
    list-style-type: none;
}
.info li {
    margin: 0 0 6px 0;
    font-size: .8em;
    font-weight: 300;
    line-height: 1.3em;
}
.leaflet-control-geosearch {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 264px;
}
.leaflet-control-geosearch input {
    width: 96%; 
    padding: 5px 8px;
    background: whitesmoke ;
    bordere: 2px solid #302725;
    color: #A0A0A0 ;
}
.leaflet-control-geosearch-msg ul {
    list-style: none;
    display: none;
    height: auto;
    background: none;
    padding: 0;
    position: absolute;
    top: -220%;
    z-index: 200;
    background: #d48983;
}
.leaflet-control-geosearch ul li {
    border-radius: 4px;
    padding: 4px 8px;
    font: 1em "Ubuntu";
    color: whitesmoke;
}
